.LUGlogo {

  background-image: url("/img/penguinLUG.PNG");
  min-width: 100px;
  background-size: contain;
  background-repeat: no-repeat;



}
.navBar {
  font-family: ubuntu, arial, sans-serif;
max-height: 80px;
display: flex;
flex-direction: row;
background: linear-gradient(white, #f2f5f0);

}
.navHeader {
color: gray;
font-weight: 600;
padding-left: 5px;
padding-right: 5px;
background: linear-gradient(white, #f2f5f0);
width: 350px;
text-align:center;
border-left: 2px solid #d8d9d2;
}
@media (max-width: 575px) {
  .navHeader{
    display: none;
  }
}
.navHeader p {
  margin-top: 25px;
}
.aboutUs {
  font-family: ubuntu, arial, sans-serif;
  color: gray;
 text-align:center;
}

.contactUs{

}
.homeButton {
  text-align: center;
  height: 80px;
  width: 100px;
  border-right: 2px solid #d8d9d2;
  border-left: 2px solid #d8d9d2;

  background: linear-gradient(white, #f2f5f0);
  cursor: pointer;
}
.homeButton p {
  margin-top: 30px;
}
.galleryButton {
  text-align: center;
  height: 80px;
  width: 100px;
  border-right: 2px solid #d8d9d2;
  background: linear-gradient(white, #f2f5f0);
  cursor: pointer;
}
.galleryButton p {
  margin-top: 30px;
}
.contactButton {
  text-align: center;
  height: 80px;
  width: 100px;
  border-right: 2px solid #d8d9d2;
  background: linear-gradient(white, #f2f5f0);
  cursor: pointer;
  contain: content;
  min-width: 100px;
}
.contactButton p {
  margin-top: 30px;
}
.aboutButton {
  text-align: center;
  height: 80px;
  width: 100px;
border-right: 2px solid #d8d9d2;
background: linear-gradient(white, #f2f5f0);
cursor: pointer;
}
.aboutButton p {
  margin-top: 30px;
}
.outerBox {
height: 300px;
width: 85%;
margin-left: auto;
margin-right: auto;
display: block;
position: relative;
margin-top: 30px;

}
.mainPic {
  width: 100%;
  height: 100%;
  background-image: url("../img/penguin1.jpg");
  background-position: center;
  background-size: 900px;
}
.innerBox{
text-align: center;
width: 100%;
height: 100%;
font-family: ubuntu, arial, sans-serif;
position: absolute;
top: 0;
left: 0;
font-size: 100px;
font-weight:600;
background-color: rgba(250,250,250,0.7);
}
.innerBox p {
  margin-top: 100px;
}
