a{
  text-decoration: none !important;
  color:inherit;
}
.LUGlogo {
  background-image: url("/img/penguinLUG.PNG");
  min-width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.navBar {
  font-family: ubuntu, arial, sans-serif;
max-height: 80px;
display: flex;
flex-direction: row;
background: linear-gradient(white, #f2f5f0);
color: #393736;

}
.navHeader {
color: #393736;
font-weight: 600;
padding-left: 5px;
padding-right: 5px;
background: linear-gradient(white, #f2f5f0);
width: 350px;
text-align:center;
border-left: 2px solid #d8d9d2;
}
@media only screen and (max-width: 575px) {
  .navHeader{
    display: none;
  }
  .outerBox {
    display: none;
    height: 0px !important;
  }
  .innerBox {
    display: none;
    height: 0px !important;
  }
  .mainPic {
    display: none;
    height: 0px !important;
  }
}
.navHeader p {
  margin-top: 30px;
}
.aboutUs {
  font-family: ubuntu, arial, sans-serif;
  color: gray;
 text-align:center;
}

.contactUs{
  font-family: ubuntu, arial, sans-serif;
  color: gray;
 text-align:center;
}
.madeByMe{
  font-family: ubuntu, arial, sans-serif;
  background-color: gray;
  color:#d8d9d2;
 text-align:center;
 height: 50px;
 padding: 15px;
 font-size: 12px;

}
.homeButton {
  text-align: center;
  height: 80px;
  width: 100px;
  border-right: 2px solid #d8d9d2;
  border-left: 2px solid #d8d9d2;

  background: linear-gradient(white, #f2f5f0);
  cursor: pointer;
}
.homeButton:hover{
  background: gray;
  color: white;
}
.homeButton p {
  margin-top: 30px;
}
.galleryButton {
  text-align: center;
  height: 80px;
  width: 100px;
  border-right: 2px solid #d8d9d2;
  background: linear-gradient(white, #f2f5f0);
  cursor: pointer;
}
.galleryButton:hover{
  background: gray;
  color: white;
}
.galleryButton p {
  margin-top: 30px;
}
.contactButton {
  text-align: center;
  height: 80px;
  width: 100px;
  border-right: 2px solid #d8d9d2;
  background: linear-gradient(white, #f2f5f0);
  cursor: pointer;
  contain: content;
  min-width: 100px;
}
.contactButton:hover{
  background: gray;
  color: white;
}
.contactButton p {
  margin-top: 30px;
}
.aboutButton {
  text-align: center;
  height: 80px;
  width: 100px;
border-right: 2px solid #d8d9d2;
background: linear-gradient(white, #f2f5f0);
cursor: pointer;
}
.aboutButton:hover{
  background: gray;
  color: white;
}
.aboutButton p {
  margin-top: 30px;
}
.outerBox {
height: 300px;
width: 95%;
margin-left: auto;
margin-right: auto;
display: block;
position: relative;
margin-top: 30px;

}
.mainPic {
  width: 100%;
  height: 100%;
  background-image: url("../img/penguin1.jpg");
  background-position: center;
  background-size: 900px;
  background-repeat: no-repeat;
}

.innerBox{
text-align: center;
width: 100%;
height: 100%;
font-family: ubuntu, arial, sans-serif;
position: absolute;
top: 0;
left: 0;
font-size: 100px;
font-weight:600;
background-color: rgba(250,250,250,0.7);
}

.innerBox p {
  margin-top: 100px;
}
.item img{
  height: 200px;

}
.owlBox{
  padding: 3px;
  background-color: #f2f5f0;
  font-family: ubuntu, arial, sans-serif;
  color: #393736;
  text-align: center;
}
.item img {
  object-fit:contain;
}
